/* Reset CSS so we start fresh each time*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles = general styles for website and for background*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('Images/Backgrounds/future-gaming-4234469166.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    max-width: fit-content;
}

/* Header styles */
header {
    background-color: #333333;
    color: #fff;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    flex-wrap: wrap;
}

/* Container for header */
.Header_container {
    
    margin: 0 auto;
    padding: 20px;
    /* Adjust padding for better spacing */
    background-color: #555;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 items per row */
    grid-gap: 20px;
    /* Space between grid items */
    min-width: fit-content;
    /* round the corners */
    border-radius: 10px;
    max-width: fit-content;
}



/* Header headline 1 */
.Header_container button {
    margin: 0 auto;
    background-color: #1d9200;
    align-self: center;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.Header_container button:hover {
    background-image: linear-gradient(to right, red, rgb(132, 132, 33), red);
    cursor: pointer;
}


/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */




/* Navigation styles */

nav {
    min-height: fit-content;    
}


nav ul {
    list-style-type: none;
    display: flex; 
    height: 50px;
    
}

nav ul li {
    margin-right: 25px;
    color: #1d9200;
    border-radius: 10px; 
    padding: 5px 5px;
    border-color: #000000;
    background-color: #1d9200;
    
    
}
nav ul li:hover {
    margin-right: 25px;
    background-image: linear-gradient(to bottom, rgb(125, 0, 0), rgba(0, 0, 0, 0),rgb(125, 0, 0));
    border-radius: 10px; 
    padding: 5px 5px;
    
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}


/* Shopping cart icon styles */
.shopping-cart-icon {
    width: 30px;
    height: auto;
    margin-left: 10px; 
    color: white;
}

/* Search bar styles */
.search-bar {
    margin-top: 10px; /* Add spacing between navigation and search bar */
    
}

.search-bar input[type="text"] {
    padding: 10px;
    /* round the corners */
    border-radius: 10px;
}

.search-bar button {
    background-color: #258111;
    color: white;
    padding: 10px 20px;
    border:none;
    cursor: zoom-in;
}

.search-bar button:hover {
    background-image: linear-gradient(to right, red, yellow);
}

/* Hero section styles */
.hero {
    color: #fff;
    padding: 50px 0;
    text-align: center;
    /* round the corners */
    border-radius: 10px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Button styles */
.hero .btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: wavy;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

/* Miscellaneous */
.form-control {
    color: #000000;
    max-width: 500px;
    align-content: center;
}

.container2 {
    max-height: 800px;
    align-content: center;
    align-items: center;
}

.about, text, header .container, .image-container, .mascot-image {
    color: #fff;
}


/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */




/* The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
    background-color: #aaa;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
  }
  
  
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Container for modal content */
  .modal_container {
    background-color: #666666;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
  }
  
  /*modal*/
  
  
  #toggleSignUp,
  #toggleLogin {
    cursor: pointer;
    color: blue;
  }
  
  #toggleSignUp:hover,
  #toggleLogin:hover {
    text-decoration: underline;
  }
  
/* Style for the login/signup button */
#loginBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100px
}
/*loginbutton hover colour*/
#loginBtn:hover {
    background-color: #45a049;
}



.Sign_Up_Form .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #555;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff
}

.form-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.signup-button:hover {
    background-color: #45a049;
}





/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */




/* Container styling */
.product_listings {
    background-color: #272727e6;
    padding: 20px 0;
    
    max-width: 1200px;
    
    margin: auto;
    grid-template-rows: 1 1;
    
    grid-gap: 20px;
    /* Space between grid items */
    justify-items: center;
    /* Center items horizontally */
    display: flex;
    flex-direction: column;
    /* Add this line to make the h2 above the container */
    min-width: 1200px;
    /* round the corners */
    border-radius: 10px;
}

/* Title styling */
.product_listings h2 {
    margin: 0;
    padding-bottom: 20px;
    /* Add some spacing between title and items */
    color: #f44336;
    position: relative;
    align-self: center;
}

/* Container for products */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    /* Adjust padding for better spacing */
    background-color: #555;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 items per row */
    grid-gap: 20px;
    /* Space between grid items */
    min-width: 1200px;
    /* round the corners */
    border-radius: 10px;
}

/* Product styling */
.product {
    background-color: #fff;
    text-align: center;
    padding: 20px; /* Adjust padding for better spacing */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure consistent width */
    min-height: fit-content;
}

/* Product image styling */
.product img {
    max-width: 100%; /* Limit image width to its container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire container */
    max-height: 200px; /* Limit the maximum height of the image */
    margin-bottom: 10px;
}

/* Product title styling */
.product h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Product price styling */
.product span {
    display: block; /* Ensure price is on a new line */
    font-weight: bold;
}



/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden; /* Ensure images don't overflow container */
}


/* Hide the images by default and center them */
.slide {
    display: none;
    text-align: center; /* Center the slide horizontally */
}

/* Set min and max width and height for images */
.slide img {
    max-width: 100%; /* Ensure the image fills its container */
    max-height: 500px; /* Set maximum height  */
    width: auto; /* Allow the width to adjust as per aspect ratio */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
}

/* Slideshow bottom text bar */
.text {
    /* Center the text horizontally */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* Add a semi-transparent background */
    background-color: #00000080;
    /* Set text color */
    color: white;
    /* Padding*/
    padding: 10px;
    /* Limit width */
    min-width: 1200px;
    max-width: 1200px;
}



/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */


 .Product_Details_Container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #383434; /* Dark background for the container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* Ensures all text inside the container is white unless otherwise specified */
}

h1, h2 {
    color: #fff; /* Set title colors to white */
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

/* Styling the image gallery */
.product_details-images-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
    min-width: 300px;
    max-width: 850px;
}

.product_details-images-scroll-container img {
    flex: 0 0 auto;
    width: auto; /* Consistent width for each image */
    height: 500px; /* Consistent height for each image */
    object-fit: cover;
    border-radius: 4px;
    min-height: fit-content;
}

/* Positioning and style adjustments for product description and side information */
.description-side-info {
    display: flex;
    justify-content: space-between; /* Ensures description and side-info are on the same line */
    max-width: fit-content;}

/* Product description styling */
.product-description {
    flex: 3; /* Larger flex-grow value to take more space */
    padding: 15px; /* Unified padding */
    background-color: #555; /* Dark gray background for better contrast */
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px; /* Adds margin to the right to separate from side-info */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    color: #fff; /* Ensures text color is white for readability */
    max-width: fit-content;
}

.product-description p {
    font-size: 16px;
    line-height: 1.5;
    
}

/* Side information styling adjacent to product description */
.side-info {
    flex: 1; /* Smaller flex-grow value to take less space */
    background-color: #19043a; /* Dark gray background for consistency */
    padding: 15px; /* Unified padding */
    border-radius: 10px;
    border-color: #19043a;
    margin-top: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Ensures vertical spacing between child elements */
    transform: translateY(-500px); /* Moves side-info to the left to separate from product description */
}

/* Side information child elements styling */
.side-info > div {
    margin-bottom: 10px; /* Adds bottom margin to all direct children except the last one */
    max-width: 600px; /* Limit width of description */
    min-width: none;
    min-height: fit-content;
    max-height: 600px;
    width: fit-content;
    

}

.product-price, .product-release-date, .product-platforms, .product-genres {
    background-color: #555;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    gap: 5px;
}

/* Button styling adjusted for side info context */
.add-to-basket button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-basket button:hover {
    background-color: #0056b3;
}

/* Scroll button adjustments for image gallery */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    z-index: 10; /* Ensures the button is above other content */
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: rgba(0, 123, 255, 1); /* Darken the button slightly on hover */
}

/* Positioning scroll buttons for visibility and access */
.scroll-button.prev {
    left: 10px;
}

.scroll-button.next {
    right: 10px;
}



.rating-buttons {
    margin-top: 10px;
}

.rating-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.rating-buttons button:hover {
    background-color: #0056b3;
}




/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */



.warning-box {
    background-color: #ffc107; /* Yellow background */
    color: #333; /* Dark text color */
    padding: 10px; /* Padding around the content */
    margin-bottom: 10px; /* Add some space below the box */
    border: 1px solid #ffc107; /* Yellow border */
    border-radius: 4px; /* Rounded corners */
}


/* CSS for genre buttons container */
.genre-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px;
    max-width: 600px; /* Limit the maximum width of the buttons container */
    margin: 0 auto; /* Center the buttons horizontally */
    background-color: #7d7d7d;
}

.genre-btn {
    padding: 10px 20px;
    background-color: #1f8413;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px; /* Limit the maximum width of each button */
    max-height: 40px;
}

.genre-btn:hover {
    background-color: #970000;
}

/* CSS for the genre title */
.genre-title {
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-bottom: 20px; /* Bottom margin */
    color: #333; /* Text color */
}

/* CSS for games container */
#games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 4 items across */
    gap: 20px; /* Gap between grid items */
    padding: 20px; /* Add padding to the container */
    justify-content: center; /* Center the grid horizontally */
    background-color: #333;
}

.game {
    background-color: #f9f9f9; /* Background color */
    padding: 20px; /* Padding */
    border-radius: 5px; /* Border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.game img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Border radius */
}

.game h3 {
    margin-top: 10px; /* Top margin for title */
    font-size: 18px; /* Font size */
}

.game p {
    margin-bottom: 10px; /* Bottom margin */
    font-size: 14px; /* Font size */
}

.game span {
    font-weight: bold; /* Bold font weight */
}

.btn {
    background-color: #28a745; /* Green background for buttons */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor indicates button */
    display: inline-block; /* Allows it to sit inline with other elements */
    margin-top: 10px; /* Space above the button */
}

.btn:hover {
    background-color: #218838; /* Darker green on hover */
}

/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */



.shopping-cart {
    background-color: #f9f9f900;
    padding: 20px;
}

.shopping-cart .container {
    max-width: 1200px;
    margin: auto;
}

.shopping-cart h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
    
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.cart-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-details p {
    margin-bottom: 10px;
}

.remove-from-cart {
    padding: 8px 16px;
    background-color: #ff3c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #d62c00;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.cart-total h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-total .btn {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.cart-total .btn:hover {
    background-color: #0056b3;
}

/*  ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
 */




/* Search Results Section */
.search_results {
    background-color: #272727e6;
    padding: 20px 0;
    
    max-width: 1200px;
    
    margin: auto;
    grid-template-rows: 1 1;
    
    grid-gap: 20px;
    /* Space between grid items */
    justify-items: center;
    /* Center items horizontally */
    display: flex;
    flex-direction: column;
    /* make the h2 above the container */
}

.search_results h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.search_results .container {
    max-width: 800px;
    margin: 0 auto;
}

.search-result {
    background-color: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-result h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.search-result p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
